* {
    padding: 0;
    margin: 0;
}
#appWrapper {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
#questionBWrapper {
	width: 100%;
	height: 100%;
}
.question {
	text-align: center;
	margin: 0 auto;
	padding: 10px; 
}
.category{
	text-align: center;
	margin: 0 auto;
	padding: 10px; 
}
.answerInput {
	width: 80%;
	text-align: center;
}
.inputContainer {
	width: 100%;
	text-align: center;
}
.buttonList {
	width: 100%;
	text-align: center;
	margin-top: 2%;
}
.buttonList button{
	margin: 2px;
}
.toolTip {
	text-align: center;
	color: gray;
	margin-top: 2px;
	margin-bottom: 10px;
}
.startButton {
	width: 100px;
	height: 30px;
	margin-top: 250px;
}
#bet-table-wrapper .bet-table {
	    width: 110px;
    height: 110px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 100px;
}
#bet-amount-wrapper button {
	width: 140px;
	margin: 10px;
	    padding-top: 9px;
}
.bet-table-cont {
	width: 110px;
    height: 150px;
    display: inline-block;
    margin: 20px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#player-info-wrapper div{
	display: block;
	margin-right: 30px;
}
#player-info-wrapper{
	text-align: left;
	width: 100%;
	margin-left: 45px;
	margin-top: 20px;
}
   
.disable {
	color: gray
}
#wsWrapper {
	display: none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  /*padding: 10px;*/
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  /*padding: 20px;*/
 /* font-size: 30px;*/
  text-align: center;
  height: 150px;
  width: 250px;
}
.grid-container-sm {
  display: grid;
  grid-template-columns: auto;
 /* padding: 10px;*/
}
.grid-item-sm {
  background-color: rgba(255, 255, 255, 0.8);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  /*padding: 20px;*/
 /* font-size: 30px;*/
  text-align: center;
  height: 20px;
}
.winning {
  /*font-size: 110px;
  height: 127px*/
      font-size: 48px;
    height: 51px;
}
.time {
        height: 52px;
    font-size: 33px;
    padding-top: 5px;
}
.game-status {
	height: 58px;
    font-size: 30px;
    padding-top: 12px;
}
.bet-label {
	font-size: 25px;
    font-family: monospace;
    font-weight: bolder;
}
#game-title {
	    margin-top: 30px;
    font-size: 40px;
    margin-bottom: 30px;
}
#transaction-hash-cont-message {
	margin-top: 20px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 150px;
	max-height: 150px;
	text-align: left;
	padding: 5px;
	resize: none;

}


